.myaccount-title {
  text-align: center;
}

label {
  text-align: right;
}

.upload-image-btn {
  text-align: center;
  margin: 30px;
}

.file-input-display {
  display: none;
}

.image-box {
  width: 280px;
  height: 210px;
  border: 1px solid black;
}

.myaccount-button {
  text-align: center;
  margin: 30px;
}
